    h1 {
    color: red;
    fontstyle italic;
    text-align: center;
   }
   
   body {
    background-color: pink;
   }

   p {
     text-align: center;
   }

   img {
     padding: 20px;
     margin: 0 auto;
     border: solid 10px turquoise;
     border-radius: 100px 0 100px 0;
     display: block;
   }
   
   h2 {
     text-align: center;
   }

   a {
     text-align: center;
     margin: 0 auto;
     display: block;
     color: fucshia;
   }

   input {
     margin: 0 auto;
     display: block;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: pink;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
}
