    h1 {
    color: red;
    fontstyle italic;
    text-align: center;
   }
   
   body {
    background-color: pink;
    text-align: center;
   }

   p {
     text-align: center;
   }

   img {
     padding: 20px;
     margin: 30px;
     border: solid 10px turquoise;
     border-radius: 100px 0 100px 0;
   }
   
   h2 {
     text-align: center;
   }
