    h1 {
    color: red;
    fontstyle italic;
    text-align: center;
   }
   
   body {
    background-color: pink;
   }

   p {
     text-align: center;
   }

   img {
     padding: 20px;
     margin: 0 auto;
     border: solid 10px turquoise;
     border-radius: 100px 0 100px 0;
     display: block;
   }
   
   h2 {
     text-align: center;
   }

   a {
     text-align: center;
     margin: 0 auto;
     display: block;
     color: #e607b3;
   }

   input {
     margin: 0 auto;
     display: block;
   }

.navigationbar {
    background-color: black;
    overflow: hidden;
}

.navigationbar a {
  float: left;
  color: #ffe0f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   overfloat: hidden;
}

.navigationbar a:hover {
  background-color: #ff87db;
  color: black;
}

.navigationbar a.home {
  background-color: #c92097;
  color: #ffe0f8;
}
